/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.product-grid {
	display:grid;
	grid-template-columns: repeat(1, 1fr);
}
.error{
	color: #bf0113;
}
h3{
 color: blue;
}
.btn-blue{
  border: 0;
  margin: 5px;
  height: 30px;
  color: #ffffff;
  background-color: #2ca8ff;
  width: 10%;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
}
@media(min-width: 576px){
	.product-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

